

.container{
    margin: 0  auto ;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

.title{
    font-size: 36px;
    margin-bottom: 10px;
    color: #2c3e50;

}

.timer{
    font-size: 72px;
    color: #2c3e50;
}

button{
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: .7;
}
#start{
    background-color: rgb(4, 107, 4);
}
#stop{
    background-color: rgb(141, 9, 9);
}
#reset{
    background-color: rgb(71, 71, 71);
}